<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="">
            <a data-url="/home/index" href="#home/index">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 仪表盘 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    系统设置
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a data-url="page/typography" href="#page/typography">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Typography
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> 学无止境 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a data-url="learn/archives" href="#learn/archives">
                        <i class="menu-icon fa fa-caret-right"></i>
                        文章列表
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a data-url="category/list" href="#category/list">
                        <i class="menu-icon fa fa-caret-right"></i>
                        分类管理
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> 慢生活 </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a data-url="life/grow" href="#life/grow">
                        <i class="menu-icon fa fa-caret-right"></i>
                        跌跌撞撞
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a data-url="life/picture" href="#life/picture">
                        <i class="menu-icon fa fa-caret-right"></i>
                        点点滴滴
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a data-url="page/form-elements-2" href="#page/form-elements-2">
                        <i class="menu-icon fa fa-caret-right"></i>
                        碎言碎语
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-url="page/widgets" href="#page/widgets">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 留言板 </span>
            </a>

            <ul class="submenu">
                <li class="">
                    <a data-url="page/form-elements" href="#page/form-elements">
                        <i class="menu-icon fa fa-caret-right"></i>
                        留言列表
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> Tags </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li class="">
                    <a data-url="page/email" href="#page/email">
                        <i class="menu-icon fa fa-caret-right"></i>
                        所有标签
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>