
<title>博客图片 - Latte Cake Admin</title>

<!-- ajax layout which only needs content area -->
<div class="page-header">
    <h1>
        博客图片
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            分享是一种博爱的心境，学会分享，就学会了生活
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="col-xs-12">

</div>
{#</div>#}

<!-- PAGE CONTENT ENDS -->

<!-- page specific plugin scripts -->
<script type="text/javascript">
    var scripts = [
    ];
    $('.page-content-area').ace_ajax('loadScripts', scripts, function() {

    });
</script>
