<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ storage_url }}static/moderna/img/slides/1.jpg" alt="">
                            <div class="flex-caption">
                                <h3>测试 banner 1</h3>
                                <p>这货不是我，要是我有辣么帅就好了。</p>
                                <a href="#" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ storage_url }}static/moderna/img/slides/2.jpg" alt="">
                            <div class="flex-caption">
                                <h3>测试 banner 2</h3>
                                <p>这也不是咱们工作室。。。</p>
                                <a href="#" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ storage_url }}static/moderna/img/slides/3.jpg" alt="">
                            <div class="flex-caption">
                                <h3>测试 banner 3</h3>
                                <p>这是啥？我也不造。谁送我一个啊.</p>
                                <a href="#" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>