{% extends "AppBundle::default_layout.html.twig" %}
{% block content %}
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2>若没有<span>过往</span> 我们该怎样<span>成长</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>CodeIgniter Doctrine2...</h4>
                                    <div class="icon">
                                        <i class="fa fa-desktop fa-3x"></i>
                                    </div>
                                    <p>
                                        本章主要介绍对象之间的关联映射，引用一个单一目的通过一种外键进行表示...
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="{{ url('learn_learnInfo', {"id": 20046}) }}">继续阅读</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>CodeIgniter Doctrine2...</h4>
                                    <div class="icon">
                                        <i class="fa fa-pagelines fa-3x"></i>
                                    </div>
                                    <p>
                                        在项目上运用了一段时间后发现，好像代码比格变高了呃，连同事都说你这种写法好像很高级的样纸呃...
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="{{ url('learn_learnInfo', {"id": 20045}) }}">继续阅读</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>2015款13寸 MacBook...</h4>
                                    <div class="icon">
                                        <i class="fa fa-edit fa-3x"></i>
                                    </div>
                                    <p>
                                        2015年3月9日，苹果终于又召开发布会了，等了我好长时间，发布了跳票数月的大金表...
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="{{ url('life_lifeInfo', {"id": 20021}) }}">继续阅读</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>CodeIgniter 3.0整...</h4>
                                    <div class="icon">
                                        <i class="fa fa-code fa-3x"></i>
                                    </div>
                                    <p>
                                        哈哈，我又来了，每周一篇，必不可少，这周当然也有一些小收获那就写下来吧.今天...
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="{{ url('learn_learnInfo', {"id": 20042}) }}">继续阅读</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- divider -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">别让自己的心塞太满 要留出点空间让阳光照进来</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                    <div class="item-thumbs">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="轻松心情" href="http://source.lattecake.com/images/2015/07/754e79aceab0a158d1f6680322351017.jpeg?imageView2/2/w/1024">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                        <!-- Thumb Image and Description -->
                                        <img src="http://source.lattecake.com/images/2015/07/754e79aceab0a158d1f6680322351017.jpeg?imageView2/1/w/260/h/195" alt="六月 北京怀柔清凉之旅">
                                    </div>
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="国贸" href="http://source.lattecake.com/images/2015/07/719c6efcd3b1b51be58f6f02860e9700.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/07/719c6efcd3b1b51be58f6f02860e9700.jpeg?imageView2/1/w/260/h/195" alt="六月 北京夏天的味道">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="梦回校园" href="http://source.lattecake.com/images/2015/07/54a7db90992c2f916140a2c16facb51b.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/07/54a7db90992c2f916140a2c16facb51b.jpeg?imageView2/1/w/260/h/195" alt="六月 大连">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="童年记忆..." href="http://source.lattecake.com/images/2015/07/ef7007e46b9aa4e726eec8bb8950ea3a.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/07/ef7007e46b9aa4e726eec8bb8950ea3a.jpeg?imageView2/1/w/260/h/195" alt="五月天津-一个人一座城">
                                </li>
                                <!-- End Item Project -->
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <section class="callaction">
                <div class="container">
                    <div class="row">
                        <div class="big-cta">
                            <div class="cta-text">
                                <h4>明明知道放下一切就可以轻松上路,但是却坚持背负一身破铜烂铁把自己累的够呛;那沉甸甸的重担里装满了无可救药的偏执,被别人掌控的安全感,不受控制的哀怨,毫无希望的等待.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block Cong_javascripts %}
    <script src="http://storage.lattecake.com/static/moderna/js/jquery.fancybox.pack.js"></script>
    <script src="http://storage.lattecake.com/static/moderna/js/jquery.fancybox-media.js"></script>
    {#<script src="http://storage.lattecake.com/static/moderna/js/google-code-prettify/prettify.js"></script>#}
    {#<script src="http://storage.lattecake.com/static/moderna/js/portfolio/jquery.quicksand.js"></script>#}
    {#<script src="http://storage.lattecake.com/static/moderna/js/portfolio/setting.js"></script>#}
    <script src="http://storage.lattecake.com/static/moderna/js/jquery.flexslider.js"></script>
    <script src="http://storage.lattecake.com/static/moderna/js/animate.js"></script>
    <script src="http://storage.lattecake.com/static/moderna/js/custom.js"></script>
{% endblock %}