{% extends "AppBundle::default_layout.html.twig" %}

{% block Cong_stylesheets %}
    <style>
        li .flex-next{
            z-index: 99;
        }
        .index-page{
            width: 100%;
            height: 100%;
            display: block;
            opacity: 1;
            position: fixed;
            background: #222 no-repeat center center;
            background-image: url("http://dudulu.me/content/images/2015/09/005tXAWvgw1euhc8bjuj2j31kw0zkasi.jpg");
            top: 0;
            left: 0;
            z-index: 9999;
        }
        .vertical {
            display: block;
            vertical-align: middle;
            margin-top: -60px;
            position: relative;
            top: 50%;
        }
        .inner {
            position: relative;
            width: 80%;
            max-width: 710px;
            margin: 0 auto;
            text-align: center;
        }
        .page-title {
            margin: 10px 0 10px 0;
            font-size: 5rem;
            letter-spacing: -1px;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            color: #fff;
        }
        .page-description {
            margin: 0;
            font-size: 2rem;
            line-height: 1.5em;
            font-weight: 400;
            font-family: "Merriweather", serif;
            letter-spacing: 0.01rem;
            color: rgba(255,255,255,0.8);
        }
    </style>
{% endblock %}

{% block content %}
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2>若没有<span>过往</span> 我们该怎样<span>成长</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">别让自己的心塞太满 要留出点空间让阳光照进来</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="枫叶" href="http://source.lattecake.com/images/2015/11/b3169089fbd93a129c649be028590371.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/11/b3169089fbd93a129c649be028590371.jpeg?imageView2/1/w/260/h/195" alt="十一月 深秋的北京,我在怀念你，你在遗忘我">
                                </li>

                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="若只如初见，何须感伤离别" href="http://source.lattecake.com/images/2015/11/dcdb9ad77846145eee20a6411d68fd2a.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/11/dcdb9ad77846145eee20a6411d68fd2a.jpeg?imageView2/1/w/260/h/195" alt="爱过，错过，泪过，痛过，只剩淡淡残念，深埋心底。也许多年后，每每想起，会有那一点遗憾，但这残缺不全的美丽，却使生命蒙上了一道惘然的美丽。">
                                </li>

                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="画扇害怕秋风到来..." href="http://source.lattecake.com/images/2015/11/95e8197db86bb3bb9783e610c17ec527.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="http://source.lattecake.com/images/2015/11/95e8197db86bb3bb9783e610c17ec527.jpeg?imageView2/1/w/260/h/195" alt="蓦然回首，曾经沧海，早已是换了人间。还是那般美吗?不会了，曾经的美丽已然流逝，变成旧时的风景，就像远航的帆，走了，远远的，依稀模糊的影子漂浮在脑海。难道当时只道是寻常吗?">
                                </li>

                                <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                    <div class="item-thumbs">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="轻松心情" href="http://source.lattecake.com/images/2015/07/754e79aceab0a158d1f6680322351017.jpeg?imageView2/2/w/1024">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                        <!-- Thumb Image and Description -->
                                        <img src="http://source.lattecake.com/images/2015/07/754e79aceab0a158d1f6680322351017.jpeg?imageView2/1/w/260/h/195" alt="六月 北京怀柔清凉之旅,那一抹绿色,总能将炎炎夏日的暑气消去。">
                                    </div>
                                </li>

                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <section class="callaction">
                <div class="container">
                    <div class="row">
                        <div class="big-cta">
                            <div class="cta-text">
                                <h4 style="margin-left: -18px;">明明知道放下一切就可以轻松上路,却坚持背负一身破铜烂铁把自己累的够呛;那沉甸甸的重担里装满了无可救药的偏执和毫无希望的等待.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>
        </div>
    </section>
    <div class="index-page">
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">嘟～嘟噜</h1>
                <h2 class="page-description">时间是一个很强大的东西，很容易在回忆里美好沉睡，让人沉溺。</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block Cong_javascripts %}
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox.pack.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox-media.min.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.flexslider.min.js"></script>
    <script src="{{ storage_url }}static/moderna/js/custom.js"></script>
    <script>
        $(function()
        {
            $('.index-page').bind('click', function()
            {
                indexPage.hide();
            });

            setTimeout("indexPage.hide()", 3000);
        });

        var indexPage = {
            self: $('.index-page'),
            hide: function()
            {
                this.self.animate({
                    opacity: 0
                }, 'slow');
            }
        };

    </script>
{% endblock %}
